:root{
    --main-blue: #60a5fa;
    --main-white: #f9fafb;
    --main-yellow: #fbbf24;
    --background-grey: #e5e7eb;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    --spacing-s: 0.2rem;
    --spacing-m: 0.77rem;
    --spacing-l: 1.2rem;
    --spacing-xl: 1.5rem;
    --font-s: clamp(0.3rem, 0.5vw, 0.8em);
    --font-default: clamp(0.7rem, 1vw, 1.2rem);
    --font-m: clamp(0.7rem, 1.2vw, 1.3rem);
    --heading: clamp(1rem, 1.9vw, 2.2rem);
    --transition: all 0.3s ease-in-out;
}

@font-face{
    font-family:"montserrat";
    src:
        url("Montserrat-VariableFont_wght.ttf") format("tff"),
        url("Montserrat-Italic-VariableFont_wght.ttf") format("tff");
        

    font-weight:normal;
    font-style:normal;
}

* {
    box-sizing: border-box;
}
body{
    font-family: "montserrat";
    margin: 0px;

}

.grid-layout{
    display:grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-rows: 0.6fr 1fr 1fr;
    height:100vh;
}

/*Sidebar Settings*/
    .sidebar{
        background-color: var(--main-blue);
        grid-area: 1/1/4/2;
        display:grid;
        grid-template: 1.5fr repeat(6, 1fr) minmax(2rem, 1fr) repeat(3, 1fr) 5fr/ 1fr;
        color: var(--main-white);
    }


/*Dashboard Text*/
    .sidebar-header {
        grid-area: 1/1/2/2;
        display: flex;
        align-items: center; /* Aligns items vertically centered */
        gap: 0.3rem;
        height: 7rem;
        margin-left: var(--spacing-m);
        margin-top: var(--spacing-s);
       
    }

    .sidebar-header div {
        font-size: max(var(--heading), 1.2rem);
        font-weight: 650;
    }

    .sidebar-header img{
        max-width:45%;
        max-height:45%;
        filter: invert(1) brightness(2);
    }

/*Home Text*/
    .sidebar-home{
        display: flex;
        align-items: center; /* Aligns items vertically centered */
        gap: 0.5rem;
        height: 2rem;
        margin-left: var(--spacing-l);
        padding-left: var(--spacing-l);
    }

    .sidebar-home div{
        font-size: max(var(--font-m), 1rem);
        font-weight: 550;
    }

    .sidebar-home img{
        max-width:80%;
        max-height:80%;
        filter: invert(1) brightness(2);
        vertical-align: middle;
    }

   .communities-fix{
        padding-top: var(--spacing-s);
   }

/*Personal Setting Sidebar Text*/


   /*Settings*/
    .sidebar-home-v2{
        grid-row: 9/10;
        display: flex;
        align-items: center; /* Aligns items vertically centered */
        gap: 0.5rem;
        height: 2rem;
        margin-left: var(--spacing-l);
        padding-left: var(--spacing-l);
    }

    .sidebar-home-v2 div{
        font-size: max(var(--font-m), 1rem);
        font-weight: 550;
    }

    .sidebar-home-v2 img{
        max-width:80%;
        max-height:80%;
        filter: invert(1) brightness(2);
    }

    /*Settings*/
    .sidebar-home-v3{
        grid-row: 10/11;
        display: flex;
        align-items: center; /* Aligns items vertically centered */
        gap: 0.5rem;
        height: 2rem;
        margin-left: var(--spacing-l);
        padding-left: var(--spacing-l);
    }

    .sidebar-home-v3 div{
        font-size: max(var(--font-m), 1rem);
        font-weight: 550;
    }

    .sidebar-home-v3 img{
        max-width:80%;
        max-height:80%;
        filter: invert(1) brightness(2);
    }

    /*Privacy*/
    .sidebar-home-v4{
        grid-row: 11/12;
        display: flex;
        align-items: center; /* Aligns items vertically centered */
        gap: 0.5rem;
        height: 2rem;
        margin-left: var(--spacing-l);
        padding-left: var(--spacing-l);
    }

    .sidebar-home-v4 div{
        font-size: max(var(--font-m), 1rem);
        font-weight: 550;
    }

    .sidebar-home-v4 img{
        max-width:80%;
        max-height:80%;
        filter: invert(1) brightness(2);
    }


/*Header*/
.header{
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    box-shadow: var(--shadow); 
    z-index:1000;
    background-color: var(--main-white);
    align-items: center;
}

.searchbar{
    display: flex;
    align-items: center;
    width: 100%; /* Ensure it takes up the full width of the header */
    justify-content: space-between; /* Distribute space evenly */
}


/*Searchbar Spection*/
    .submit-search {
        background-color: var(--main-white);
        border: none;
        cursor: pointer;
        padding: 5px; /* Reduce padding to make the button smaller */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .submit-search img {
        max-width: clamp(1.3rem, 1.7rem, 2.3rem); /* Reduce icon size */
        max-height: auto;
    }

    .input-searchbar {
        display: flex; /* Ensure the container uses flexbox */
        flex-grow: 1; /* Allows the container to take up remaining space */
    }

   .input-searchbar input {
    background-color: #d4d4d8;
    border: none;
    border-radius: 15px;
    height: var(--spacing-xl);
    width: 100%; 
    flex-grow: 1;
    max-width: 100%; 
    box-sizing: border-box; 
    }


    .main-form{
        margin-left: var(--spacing-xl);
        display: flex;
        flex-grow: 2;
        gap:var(--spacing-m);
    }

/*Right Side of search bar*/

.user-information {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 0.5;
    padding-right: var(--spacing-xl);
    padding-left: var(--spacing-xl);
}

.bell-notification img{
    max-width: clamp(1.3rem, 2rem, 2.3rem);
    max-height:auto;
}

.profile-pic{
    width: clamp(2rem, 25vw, 3rem); 
    height: clamp(2rem, 25vw, 3rem); 
    border-radius: 50%; 
    object-fit: cover; /* Ensures the image covers the container properly */
    background: var(--main-yellow);
}


.user-information .username {
    max-width: 150px;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides text that overflows the container */
    text-overflow: ellipsis; /* Adds ellipsis when text overflows */
    margin-left: var(--spacing-s); 
    font-weight: bold;
}


/*Information section with buttons*/
.introduction-bar{
   display: flex;
   align-items:center;
}

.large-profile-pic{
    width: clamp(1rem, 25vw, 5rem); 
    height: clamp(1rem, 25vw, 5rem); 
    border-radius: 50%; 
    object-fit: cover; /* Ensures the image covers the container properly */
    background: var(--main-yellow);
    margin-left: var(--spacing-xl);
}

.greeting{
    margin-left: var(--spacing-l);
    margin-right: 2rem;
}

.greeting > div:first-child{
  font-size: var(--font-s);
  font-weight: 700;
}

.greeting > div:nth-child(2){
    font-size: clamp(0.7rem, 3vw, 1.4rem);
    font-weight: 700;
}


.action-buttons{
    margin-left: auto;
    margin-right: var(--spacing-xl);
    display: flex;
    gap: var(--spacing-xl);
}

.action-buttons button{
    background-color: var(--main-blue);
    color: var(--main-white);
    border: none;
    padding: var(--spacing-m);
    border-radius: 30px;
    font-size: clamp(0.9rem, 1.2vw, 1.3rem);
    font-weight: 700;
    width: 7rem;
    cursor:pointer;
}

/*Main Content cards etc stuff*/

.main-content{
    display:grid;
    grid-template-columns: 4fr 1fr;
    background-color:var(--background-grey);
}

.right-column{
    display: grid;
    grid-template-rows: 0.34fr 2fr 0.3fr 2fr 0.5fr;
}


.announcements{
    justify-self: start;
    align-self: end;
    margin-bottom: var(--spacing-m);
    font-weight: 650;
    margin-left: var(--spacing-l);
}

.announcements-messages {
    background-color: var(--main-white);
    margin-right: var(--spacing-xl);
    margin-left: var(--spacing-l);
    border-radius: 5px;
    padding: var(--spacing-m);
    display:flex;
    flex-direction: column;
    justify-content: space-around
}

.announcements-messages div {
    display:flex;
    overflow: hidden; /* Hide the overflowing content */
    text-overflow: ellipsis;
    white-space: normal; /* Allow the text to wrap */
    line-height: 1.5rem; /* Adjust line height */
}

.announcement-content {
    display: flex;
    flex-direction: column;
    font-size: var(--font-default); /* Font scaling */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    width: 20rem; 
}

.announcement-content div:first-child {
    font-weight: bold;
}

.announcement-content div:last-child {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-default);
    line-height: 1.5; /* Text readability */
}

.trending{
    justify-self: start;
    align-self: end;
    padding-bottom: var(--spacing-m);
    margin-left: var(--spacing-l);
    font-weight: 650;
    overflow: hidden;
}

.trending-accounts {
    background-color: var(--main-white);
    margin-right: var(--spacing-xl);
    margin-left: var(--spacing-l);
    border-radius: 5px;
    padding: var(--spacing-m);
    padding-top: var(--spacing-xl);
    display: flex; 
}

.trending-accounts ul {
    padding: 0;
    margin: 0;
}

.trending-accounts li {
    list-style: none;
    font-size: var(--font-default);
    display: flex;
    flex: 1;
    gap: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    align-items: center; /* Vertically center items */
    overflow: hidden; /* Prevents overflow of content */
}

.trending-accounts li img {
    max-height: 48px;
    max-width: 48px;
    background-color: var(--main-yellow);
    border-radius: 50%;
    object-fit: cover; /* Ensures image covers the container without distortion */
}


.trending-accounts li p span{
    font-weight: 600;
}

.trending-accounts li p{
    display:flex;
    flex-direction: column;
}

.trending-accounts li img{
    max-height: 48px;
    max-width: 48px;
    background-color: var(--main-yellow);
    border-radius: 50%;
}


/*Card Section*/
.projects-title {
    justify-self: start;
    font-weight: 650;
    margin-left: var(--spacing-l);
    padding-top: var(--spacing-xl);
    margin-bottom: var(--spacing-m);
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem;
    flex-grow: 1;
    margin-left: var(--spacing-l);
}


.projects {
    grid-row: 1 / span 2;
}

.card {
    background-color: #fff;
    display: grid;
    align-content: space-around;
    border-radius: 8px;
    padding: var(--spacing-m);
    border: 0;
    box-shadow: var(--shadow);
}

.project-description div{
    font-weight: 650;
}

.project-description p{
    font-size: var(--font-default);
    line-height: 1.5;
}
.projects .card {
    border-left: 8px solid var(--main-yellow);
}

.projects {
    display: flex;
    flex-direction: column;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--spacing-s);
    gap: 1.5rem;
}

.mini-icon{
    max-width: clamp(1.3rem, 1.7rem, 1.9rem)
}










    


